<a href="https://colab.research.google.com/github/oscmoral/Programacion-para-analitica-descriptiva-y-predictiva/blob/main/Practica17_Limpieza_y_transformacion_de_datos_categoricos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica 17: Limpieza y Transformación de Datos Categóricos

Nombre: Oscar Morales Martinez

Materia: Programación para analítica descriptiva y predictiva

Carrera: Maestría en Inteligencia Artificial y Analítica de Datos

## Instrucciones:

1. Descarga el archivo CSV, nls97, proporcionado en esta tarea. También lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de cada ejercicio

## Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

* Imprime de la columna 'maritalstatus' los valores únicos.
* Imprime la frecuencia de cada valor único
* Cambia el valor 'Never-Married' a 'Single'
* Imprime la frecuencia de cada valor único.

Paso 1: Importar librerias

In [1]:
import pandas as pd

Paso 2: Acceso a Google Drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Paso 3: Carga el archivo a un dataframe.

In [3]:
path = "/content/drive/MyDrive/ClassFiles/nls97.csv"
df = pd.read_csv(path)

Paso 4: Imprime de la columna 'maritalstatus' los valores únicos.

In [4]:
print(df["maritalstatus"].dropna().unique())

['Married' 'Never-married' 'Divorced' 'Separated' 'Widowed']

Paso 5: Imprime la frecuencia de cada valor único

In [5]:
print(df["maritalstatus"].value_counts(dropna=False))

maritalstatus
Married          3066
Never-married    2766
NaN              2312
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

Paso 6: Cambia el valor 'Never-Married' a 'Single'

In [8]:
df["maritalstatus"] = df["maritalstatus"].replace({"Never-married": "Single"})

Paso 7: Imprime la frecuencia de cada valor único

In [9]:
print(df["maritalstatus"].value_counts(dropna=False))

maritalstatus
Married      3066
Single       2766
NaN          2312
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

## Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

* Imprime de la columna 'highestdegrees' los valores únicos.
* Imprime la frecuencia de cada valor único
* Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.
* Los cambios se realizarán en la misma columna 'highestdegrees'.
* Imprime los nuevos valores únicos.

Paso 1: Imprime de la columna 'highestdegrees' los valores únicos.

In [12]:
print(df["highestdegree"].dropna().unique())

['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD']

Paso 2: Imprime la frecuencia de cada valor único

In [14]:
print(df["highestdegree"].value_counts(dropna=False))

highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
NaN                  31
Name: count, dtype: int64

Paso 3: Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school (Los cambios se realizarán en la misma columna 'highestdegrees').

In [15]:
df["highestdegree"] = (
    df["highestdegree"]
    .astype("string")
    .str.replace(r"^\s*\d+\.\s*", "", regex=True)
    .str.strip()
    .str.lower()
)

Paso 4: Imprime los nuevos valores únicos.

In [16]:
print(df["highestdegree"].dropna().unique())

<StringArray>
[ 'high school',         'none',    'bachelors',   'associates',
      'masters',          'ged', 'professional',          'phd']
Length: 8, dtype: string

## Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

* De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
* Imprime los valores únicos de la nueva columna 'marital_grouped'.
* Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

Paso 1: De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.

In [17]:
df["marital_grouped"] = df["maritalstatus"].replace({
    "Single": "Single/No Partner",
    "Widowed": "Single/No Partner"
})

Paso 2: Imprime los valores únicos de la nueva columna 'marital_grouped'.

In [19]:
print(df["marital_grouped"].dropna().unique())

['Married' 'Single/No Partner' 'Divorced' 'Separated']

Paso 3: Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

In [20]:
print(df["marital_grouped"].value_counts(dropna=False))

marital_grouped
Married              3066
Single/No Partner    2789
NaN                  2312
Divorced              663
Separated             154
Name: count, dtype: int64

## Ejercicio 04: Tipos de Datos

* Imprime el tipo de datos de la columna gender
* Imprime la cantidad de bytes de dicha columna
* Si la columna es de tipo object, modifica a category.
* En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

Paso 1: Imprime el tipo de datos de la columna gender

In [24]:
print(df["gender"].dtype)

object

Paso 2: Imprime la cantidad de bytes de dicha columna

In [25]:
print(df["gender"].memory_usage(deep=True))

485054

Paso 3: Si la columna es de tipo object, modifica a category.

In [27]:
if df["gender"].dtype == "object":
    df["gender"] = df["gender"].astype("category")

Paso 4: En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos.

In [28]:
print(df["gender"].memory_usage(deep=True))

9332