<a href="https://colab.research.google.com/github/oscmoral/Programacion-para-analitica-descriptiva-y-predictiva/blob/main/Practica12_16_Limpieza_y_transformacion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpieza y TransformaciÃ³n de Datos-PrÃ¡cticas 12,13,14,15,16

Nombre: Oscar Morales Martinez

Materia: ProgramaciÃ³n para analÃ­tica descriptiva y predictiva

Carrera: MaestrÃ­a en Inteligencia Artificial y AnalÃ­tica de Datos

## Instrucciones:

1. Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea. TambiÃ©n lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como tÃ­tulo el nombre de la prÃ¡ctica

## PrÃ¡ctica 12: Carga de Datos

Al final del archivo contiene una lÃ­nea que dice "Esta es una lÃ­nea que no deberÃ­as cargar". Esta lÃ­nea es irrelevante por lo tanto al cargar el CSV a un dataframe se deberÃ­a de ignorar.

* Carga el archivo a un dataframe usando el cÃ³digo necesario para omitir la Ãºltima fila.
* Usa df.tail(3) para demostrar que no has cargado la Ãºltima lÃ­nea
* Imprime la cantidad de filas y columnas del dataframe

Paso 1: Importar librerias (se utilizaran para las practicas 12,13,14,15,16)

In [ ]:
import pandas as pd

Paso 2: Acceso a Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Paso 3: Carga el archivo a un dataframe usando el cÃ³digo necesario para omitir la Ãºltima fila.

In [ ]:
path = "/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv"
df = pd.read_csv(path, skipfooter=1, engine="python")

Paso 4: Usa df.tail(3) para demostrar que no has cargado la Ãºltima lÃ­nea

In [ ]:
df.tail(3)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

Paso 5: Imprime la cantidad de filas y columnas del dataframe

In [ ]:
df.shape

(84548, 22)

## PrÃ¡ctica 13: Cambiar nombre de columna

* Imprime los nombres de la columnas del archivo
* AsegÃºrate que el nombre de la primera columna deberÃ­a ser INDEX MIAAD. Si esto no es asÃ­, entonces cambia el nombre de la columna y vuelve a imprimir los nombres para mostrar el cambio realizado. DespuÃ©s del cambio deberÃ­a aparecer INDEX MIAAD

Paso 1: Imprime los nombres de la columnas del archivo

In [ ]:
print(df.columns.tolist())

['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

Paso 2: AsegÃºrate que el nombre de la primera columna deberÃ­a ser INDEX MIAAD. Si esto no es asÃ­, entonces cambia el nombre de la columna y vuelve a imprimir los nombres para mostrar el cambio realizado. DespuÃ©s del cambio deberÃ­a aparecer INDEX MIAAD

In [ ]:
expected_first_col = "INDEX MIAAD"
current_first_col = df.columns[0]

print("Primera columna:", current_first_col)

if current_first_col != expected_first_col:
    df = df.rename(columns={current_first_col: expected_first_col})

print(df.columns.tolist())

Primera columna: Unnamed: 0
['INDEX MIAAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

## PrÃ¡ctica 14: NormalizaciÃ³n de los nombres de la columna.

* Normaliza los nombres de las columnas, los cuales deberÃ¡n estar en minÃºsculas. Asimismo, reemplaza los espacios con guion bajo
* Imprime los nombres de las columnas para demostrar que has realizado la normalizaciÃ³n.

Paso 1: Normaliza los nombres de las columnas, los cuales deberÃ¡n estar en minÃºsculas. Asimismo, reemplaza los espacios con guion bajo

In [ ]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_", regex=False)
)

Paso 2: Imprime los nombres de las columnas para demostrar que has realizado la normalizaciÃ³n.

In [ ]:
print(df.columns.tolist())

['index_miaad', 'borough', 'neighborhood', 'building_class_category', 'tax_class_at_present', 'block', 'lot', 'ease-ment', 'building_class_at_present', 'address', 'apartment_number', 'zip_code', 'residential_units', 'commercial_units', 'total_units', 'land_square_feet', 'gross_square_feet', 'year_built', 'tax_class_at_time_of_sale', 'building_class_at_time_of_sale', 'sale_price', 'sale_date']

## PrÃ¡ctica 15: Errores en los Tipos de Datos

* Imprime los tipos de datos de cada columna.
* AsegÃºrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe quÃ© tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
* Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

Paso 1: Imprime los tipos de datos de cada columna.

In [ ]:
print(df.dtypes)

index_miaad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

Paso 2: AsegÃºrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe quÃ© tipo de dato tienen asignado. Si no son correctos, realiza el cambio.

In [ ]:
target_cols = ["sale_price", "land_square_feet", "gross_square_feet"]

for col in target_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce").astype(float)

Paso 3: Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [ ]:
print(df.dtypes)

index_miaad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

## PrÃ¡ctica 16: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [ ]:
data_dictionary = {}

for col in df.columns:
    series = df[col]
    data_dictionary[col] = {
        "dtype": str(series.dtype),
        "non_null_count": int(series.notna().sum()),
        "null_count": int(series.isna().sum()),
        "example_values": series.dropna().unique()[:5].tolist()
    }

for col, info in data_dictionary.items():
    print(f"\nðŸ”¹ {col}")
    for k, v in info.items():
        print(f"  - {k}: {v}")

ðŸ”¹ index_miaad
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [4, 5, 6, 7, 8]

ðŸ”¹ borough
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [1, 2, 3, 4, 5]

ðŸ”¹ neighborhood
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: ['ALPHABET CITY', 'CHELSEA', 'CHINATOWN', 'CIVIC CENTER', 'CLINTON']

ðŸ”¹ building_class_category
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: ['07 RENTALS - WALKUP APARTMENTS             ', '08 RENTALS - ELEVATOR APARTMENTS           ', '09 COOPS - WALKUP APARTMENTS               ', '10 COOPS - ELEVATOR APARTMENTS             ', '11A CONDO-RENTALS                           ']

ðŸ”¹ tax_class_at_present
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: ['2A', '2', '2B', '2C', ' ']

ðŸ”¹ block
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [392, 399, 402, 404, 405]

ðŸ”¹ lot
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [6, 26, 39, 21, 55]

ðŸ”¹ ease-ment
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: [' ']

ðŸ”¹ building_class_at_present
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: ['C2', 'C7', 'C4', 'D5', 'D9']

ðŸ”¹ address
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: ['153 AVENUE B', '234 EAST 4TH   STREET', '197 EAST 3RD   STREET', '154 EAST 7TH STREET', '301 EAST 10TH   STREET']

ðŸ”¹ apartment_number
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: [' ', 'RES', 'UNIT1', '1B', '6E']

ðŸ”¹ zip_code
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [10009, 0, 10002, 10011, 10001]

ðŸ”¹ residential_units
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [5, 28, 16, 10, 6]

ðŸ”¹ commercial_units
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [0, 3, 1, 2, 4]

ðŸ”¹ total_units
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [5, 31, 17, 10, 6]

ðŸ”¹ land_square_feet
  - dtype: float64
  - non_null_count: 58296
  - null_count: 26252
  - example_values: [1633.0, 4616.0, 2212.0, 2272.0, 2369.0]

ðŸ”¹ gross_square_feet
  - dtype: float64
  - non_null_count: 56936
  - null_count: 27612
  - example_values: [6440.0, 18690.0, 7803.0, 6794.0, 4615.0]

ðŸ”¹ year_built
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [1900, 1913, 1920, 1910, 2009]

ðŸ”¹ tax_class_at_time_of_sale
  - dtype: int64
  - non_null_count: 84548
  - null_count: 0
  - example_values: [2, 4, 1, 3]

ðŸ”¹ building_class_at_time_of_sale
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: ['C2', 'C7', 'C4', 'D5', 'D9']

ðŸ”¹ sale_price
  - dtype: float64
  - non_null_count: 69987
  - null_count: 14561
  - example_values: [6625000.0, 3936272.0, 8000000.0, 3192840.0, 16232000.0]

ðŸ”¹ sale_date
  - dtype: object
  - non_null_count: 84548
  - null_count: 0
  - example_values: ['2017-07-19 00:00:00', '2016-12-14 00:00:00', '2016-12-09 00:00:00', '2016-09-23 00:00:00', '2016-11-17 00:00:00']